# Ignore everything
*

# But not these files...
!.aerospace.toml
!.gitignore
!.tmux.conf
!.wezterm.lua
!.zshrc
!README.md
!/.scripts/
!/.scripts/**
!/.config/
!/.config/nvim/
!/.config/nvim/**
!/.config/lazygit/
!/.config/lazygit/**
